ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    display: block;
}

img {
    height: 333px;
    padding: 8px;
}

@media screen and (max-width: 600px) {
    body {
        width: 90%;
        margin: 5%;
    }

    ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
        flex-wrap: nowrap;
    }

    img {
        width: 100%;
        height: unset;
        padding: 5% 0;
    }
}
